output_type all

:/ Simulation
num_samples     5
integrand_steps 13
dimension       32

temperatures 1 10

magnetic_field_min 0.1
magnetic_field_max 60
magnetic_field_n   3

:/ Settings
particle_speed   1.67834e5
clockwise        1
alpha            0.3
tau              1e-11

region_size      8e-7
region_extends   3e-7
impurity_density 2.11e17
impurity_radius  1e-9

max_expected_impurities_in_cell 15