output_type results
device gpu

num_samples    1
temperatures   2.3
magnetic_field 6.78

dimension   255
phi_steps   13

particle_speed   1.67834e5
clockwise        1
alpha            0.3
tau              1e-11

region_size      8e-7
region_extends   3e-7
impurity_density 2.11e17
impurity_radius  1e-9

target_cell_population 15