output_type all
device gpu

num_samples    1
temperatures   0.2

magnetic_field 0.01

dimension   127
phi_steps   41

particle_speed   1.67834e5
clockwise        1
alpha            0.3
tau              1e-11

region_size      4e-07
region_extends   1e-07
impurity_density 5.34e+16
impurity_radius  1.11e-09

target_cell_population 15