output_type all

num_samples      3
integrand_steps  13
dimension        128

temperatures 	 1

magnetic_field_min 0.01
magnetic_field_max 4.9002000000e+00
magnetic_field_n   2

particle_speed   1.67834e5
clockwise        0
alpha            0.3
tau              1e-11

region_size      4.0000000000e-07
region_extends   1.0000000000e-06
impurity_density 5.3400000000e+16
impurity_radius  1.1100000000e-09

max_expected_impurities_in_cell 15
