output_type all
device cpu

num_samples    1
temperatures   0.1 1 2 3 10 100

magnetic_field 0.01

dimension   31
phi_steps   25

particle_speed   1.67834e5
clockwise        1
alpha            0.3
tau              1

region_size      4e-07
region_extends   1e-07
impurity_density 5.34e+16
impurity_radius  1.11e-09

target_cell_population 15