    output_type results
device gpu

start_seed     4
num_samples    15
temperatures   0.1 0.2 0.5 1 2 5 10 20 50 100 200

magnetic_field_min 0.01
magnetic_field_max 100
magnetic_field_n 51

dimension   255
phi_steps   63

particle_speed   1.67834e5
clockwise        1
alpha            0.785
tau              1

region_size      2e-07
region_extends   1e-05
impurity_density 7e+15
impurity_radius  1e-09

target_cell_population 10