# Choose between [nothing, results, all]
# nothing writes no files at all
# results writes result values and summaries
# all     writes results and intermediate results (images, etc)
output_type all

# Choose between [cpu, gpu]
device gpu

# Choose any number > 0. For each sample, a new impurity field will be generated. The results will be combined.
num_samples    2

# Write one or more real numbers.
temperatures   0.1 1 2 3 10 100

# Determines the magnetic fields to simulate (inclusive min, inclusive max).
magnetic_field_min 0.01
magnetic_field_max 0.05
magnetic_field_n   8
# Alternatively, all magnetic_field_* parameters can be replaced with a single value:
# magnetic_field 0.01

# Must be an odd number. For a dimension d there will be d*d particles spread evenly over the impurity field.
dimension   31

# Determines the number of directions in a circle that are sampled for each particle for each quadrant.
# Must be an odd number. 
phi_steps   25

# Unit of measurement??
particle_speed   1.67834e5

# Must be 0 or 1. If 0, the particles move counter-clockwise else clockwise.
clockwise        1

# Must be a real number.
alpha            0.3

# ???
tau              1

# Must be a real number. Unit of measurement??
region_size      4e-07

# Must be a real number. Unit of measurement??
region_extends   1e-07

# Must be a real number. Unit of measurement??
impurity_density 5.34e+16

# Must be a real number. Unit of measurement??
impurity_radius  1.11e-09

# Not required, used to influence the performance of the simulation. Default value of 15.
# target_cell_population 20

# Not required, but can be used to recreate the same impurity field for successive runs.
# start_seed 13

# Not required, if 0 print no device info, else do print additional info such as device info and intermediate values.
# print_info 1

# Not required, by default it will use ESLogs.
# output_directory some_dir

# Not required, dump lifetimes for each sample. Warning: can create large files (>1GB).
# dump_lifetimes 1
