# Choose between [nothing, results, all]
# nothing writes no files at all
# results writes result values and summaries
# all     writes results and intermediate results (images, etc)
output_type all

# Choose between [cpu, gpu]
device gpu

# Choose any number > 0. For each sample, a new impurity field will be generated. The results will be averaged.
num_samples    2

# Write one or more real numbers. Units are Kelvin.
temperatures   0.1 1 2 3 10 100

# Determines the magnetic fields to simulate (inclusive min, inclusive max).
# Units are Tesla
magnetic_field_min 0.01
magnetic_field_max 0.05
magnetic_field_n   8
# Alternatively, all magnetic_field_* parameters can be replaced with a single value:
# magnetic_field 0.01

# Must be an odd number. For a dimension d there will be d*d positions in real space spread evenly in a grid. At each point, a full Fermi surface integral will be performed.
dimension   31

# Determines the number of azimuthal angles to be computed.
# The number stated here covers a quarter of the Fermi surface, namely between two impedances.
# Thus, the total number of angles evaluated is 4 times this number.
# Must be an odd number. 
phi_steps   25

# Particle velocity in meters per second
particle_speed   1.67834e5

# Must be 0 or 1. If 0, the particles move counter-clockwise else clockwise.
# Essentially, this corresponds to electron-like or hole-like charge
# which determines the sign of the Hall effect.
clockwise        1

# Must be a real number, radians.
# Determines the size of the incoherent sector on the Fermi surface.
# The incoherent sector spans [-alpha, alpha], [pi/2-alpha, pi/2+alpha],
# [pi-alpha, pi+alpha] and [3pi/2-alpha, 3pi/2+alpha]
# Maximum pi/4 in which case the entire Fermi surface is incoherent
# Minimum 0 in which case the entire Fermi surface is coherent.
alpha            0.3

# Inelastic lifetime
# This is used to incorporate additional scattering on top of impurity
# scattering using Matthiessen's rule (adds a term exp(-t/tau) in the Boltzmann expression)
tau              1

# Must be a real number, meters.
# Size of the real space patch to be integrated.
# The patch is square, this is the length of the square region.
region_size      4e-07

# Must be a real number.
# The region where impurities are spawned is larger than the positions
# in order to simulate an infinite crystal. This should be big enough
# such that no particles 'escape' into the void and obtain an
# infinite lifetime. This can be checked in the metric file after a computation.
region_extends   1e-07

# Number of impurities per square meter
# Average, the impurities are uniformly distributed
# Combined with region_size and region_extends determines the expected
# number of impurities following density * (size + 2 * extends)**2
impurity_density 5.34e+16

# Radius of an impurity in meters
# If charge approaches the impurity position within this radius, it is considered
# scattered.
impurity_radius  1.11e-09

# Not required, used to influence the performance of the simulation. Default value of 15.
# target_cell_population 15

# Not required, but can be used to recreate the same impurity field for successive runs.
# start_seed 13

# Not required, if 0 print no device info, else do print additional info such as device info and intermediate values.
# print_info 1

# Not required, by default it will use ESLogs.
# output_directory some_dir

# Not required, dump lifetimes for each sample. Warning: can create large files (>1GB).
# dump_lifetimes 1
