output_type all

num_samples 10
phi_steps   13
dimension   128

temperatures 1

magnetic_field_min 0.01
magnetic_field_max 4.9002
magnetic_field_n   50

particle_speed   1.67834e5
clockwise        0
alpha            0.3
tau              1e-11

region_size      4e-07
region_extends   1e-06
impurity_density 5.34e+16
impurity_radius  1.11e-09

target_cell_population 15

#(870s)