# Choose between [nothing, results, all]
# nothing writes no files at all
# results writes result values and summaries
# all     writes results and intermediate results (images, etc)
output_type all

# Choose between [cpu, gpu]
device cpu

# Choose any number > 0. For each sample, a new impurity field will be generated. The results will be combined.
num_samples    1

# Write one or more real numbers.
temperatures   0.1 1 2 3 10 100

# Write one or more real numbers.
magnetic_field 0.01

# Must be an odd number. For a dimension d there will be d*d particles spread evenly over the impurity field.
dimension   31

# Must be an odd number. Determines the number of directions in a circle that are sampled for each particle.
phi_steps   25

# Unit of measurement??
particle_speed   1.67834e5

# Must be 0 or 1. If 0, the particles move counter-clockwise else clockwise.
clockwise        1

# Must be a real number.
alpha            0.3

# ???
tau              1

# Must be a real number. Unit of measurement??
region_size      4e-07

# Must be a real number. Unit of measurement??
region_extends   1e-07

# Must be a real number. Unit of measurement??
impurity_density 5.34e+16

# Must be a real number. Unit of measurement??
impurity_radius  1.11e-09

# Required, but has no impact on results. You can leave this as is.
target_cell_population 15